    body{
        background-color: khaki;
    }
    
    h1{
        color: brown;
        text-align: center;
        font-size: 50px;
    }

    h2, h3{
        text-align: center;
        color:Brown;
        font-size: 25px;
        margin-bottom: 5px;
    }

    p{
        text-align: center;
        color:brown;
        font-weight: bold;
    }
 
    img.cshack{
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.crack{
        width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.shawarma{
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.white{
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    li{
        text-align: center;
        color: brown;
    }
       
    ul li.list{
        list-style-type: disc;
        list-style-position: inside;
        text-indent: -5em;
    }
    
    ol li.ing{
        list-style-type: decimal;
        list-style-position: inside;
        text-indent: -5em;
    }

    ul {
        list-style-position: inside;
        text-align: center;
      }

      .carousel {
        width:320px;
        height:180px;
        display: -moz-deck;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
        margin-top: auto;
      }

