    body{
        background-color: khaki;
    }
    
    h1{
        color: brown;
        text-align: center;
        font-size: 50px;
    }

    h2{
        text-align: center;
        color:Brown;
        font-size: 25px;
    }

    p{
        text-align: center;
        color:brown;
        font-weight: bold;
    }
 
    img.cshack{
        width: 800px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.crack{
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    li{
        text-align: center;
        color: brown;
    }
       
    ul li.list{
        list-style-type: disc;
        list-style-position: inside;
        text-indent: -5em;
        padding-block-start: 0;
    }
    
    ul li.ing{
        list-style-type: disc;
        list-style-position: inside;
        text-indent: -5em;
    }

    ul {
        padding-left: 0
      }
      
      ul li {
        list-style-position: inside;
      }